<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="~{layout/default}">
	  <!-- layout/default.html 안에 있는 모든 내용을 사용하겠다. -->

<th:block layout:fragment="customTitle">
	<title>게시글 삭제</title>
</th:block>
<th:block layout:fragment="customContents">
	<h5>게시글 삭제 화면</h5>
	<form action="/modifyBoard" method="post">
		<table>
			<tr>
				<th>글번호</th>
				<td><input type="text" name="boardNo" th:value="${board.boardNo}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td>
					<input type="text" name="boardTitle" th:value="${board.boardTitle}">
				</td>
			</tr>
			<tr>
				<th>글 내용</th>
				<td>
					<textarea rows="19" cols="50" name="boardContent" th:text="${board.boardContent}"></textarea>
				</td>
			</tr>
			<tr>
				<th>글쓴이</th>
				<td>
					<input type="text" name="boardUser" th:value="${board.boardUser}" readonly="readonly">
					<!-- <input type="hidden" name="boardUser" th:value="${session.memId}"> -->
				</td>
			</tr>
			<tr th:if="${board.boardPw ne null and board.boardPw ne ''.toString()}">
				<th>비밀번호</th>
				<td><input type="password" name="boardPw"></td>
			</tr>
			<tr>
				<th>등록일</th>
				<td><input type="text" th:value="${board.boardDate}" readonly="readonly"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<button type="submit">수정하기</button>
				</td>
			</tr>
		</table>
		<label th:if="${result ne null}" th:text="${result}"></label>
	</form>
</th:block>
</html>